In [147]:
import pandas as pd

movies = pd.read_excel('Imdb1000_datasheet.xlsx')
print(movies.head)

<bound method NDFrame.head of          id                             title  vote_average  vote_count  \
0     27205                         Inception         8.364       34495
1    157336                      Interstellar         8.417       32571
2       155                   The Dark Knight         8.512       30619
3     19995                            Avatar         7.573       29815
4     24428                      The Avengers         7.710       29166
..      ...                               ...           ...         ...
994    4248                     Scary Movie 2         5.783        4249
995  152584         Blue Is the Warmest Color         7.084        4249
996    7980                  The Lovely Bones         7.072        4242
997    9023  Spirit: Stallion of the Cimarron         7.698        4239
998    1878    Fear and Loathing in Las Vegas         7.219        4236

       status release_date     revenue original_language  \
0    Released   2010-07-15   825532764                en
1    Released   2014-11-05   701729206                en
2    Released   2008-07-16  1004558444                en
3    Released   2009-12-15  2923706026                en
4    Released   2012-04-25  1518815515                en
..        ...          ...         ...               ...
994  Released   2001-07-04   141220678                en
995  Released   2013-10-09    10165694                fr
996  Released   2009-12-26    93621340                en
997  Released   2002-05-24   122563539                en
998  Released   1998-05-22    10680275                en

                         original_title  \
0                             Inception
1                          Interstellar
2                       The Dark Knight
3                                Avatar
4                          The Avengers
..                                  ...
994                       Scary Movie 2
995  La Vie d'AdÃ¨le - Chapitres 1 et 2
996                    The Lovely Bones
997    Spirit: Stallion of the Cimarron
998      Fear and Loathing in Las Vegas

                                              overview  \
0    Cobb, a skilled thief who commits corporate es...
1    The adventures of a group of explorers who mak...
2    Batman raises the stakes in his war on crime. ...
3    In the 22nd century, a paraplegic Marine is di...
4    When an unexpected enemy emerges and threatens...
..                                                 ...
994  While the original parodied slasher flicks lik...
995  AdÃ¨le's life is changed when she meets Emma, ...
996  After being brutally murdered, 14-year-old Sus...
997  As a wild stallion travels across the frontier...
998  Raoul Duke and his attorney Dr. Gonzo drive a ...

                          poster_path  \
0    /oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg
1    /gEU2QniE6E77NI6lCU6MxlNBvIx.jpg
2    /qJ2tW6WMUDux911r6m7haRef0WH.jpg
3    /kyeqWdyUXW608qlYkRqosgbbJyK.jpg
4     /RYMX2wcKCBAr24UyPD7xwmjaTn.jpg
..                                ...
994  /7Eb1JWK0Cb0rbfsYjwfc9g0PbQH.jpg
995  /kgUk1wti2cvrptIgUz0VTAtSF6w.jpg
996  /sn0iDphRxQ7I6aLd9igIgACITak.jpg
997  /cUgYrz4twiJ3QgVGpRfey984NIB.jpg
998  /tisNLcMkxryU2zxhi0PiyDFqhm0.jpg

                                          genres  \
0             Action, Science Fiction, Adventure
1              Adventure, Drama, Science Fiction
2                 Drama, Action, Crime, Thriller
3    Action, Adventure, Fantasy, Science Fiction
4             Science Fiction, Action, Adventure
..                                           ...
994                                       Comedy
995                               Romance, Drama
996                               Fantasy, Drama
997  Animation, Adventure, Comedy, Family, Drama
998                     Adventure, Drama, Comedy

                                  production_companies  \
0    Legendary Pictures, Syncopy, Warner Bros. Pict...
1    Legendary Pictures, Syncopy, Lynda Obst Produc...
2    DC Comics, Legendary Pictures, Syncopy, Isobel...
3    Dune Entertainment, Lightstorm Entertainment, ...
4                                       Marvel Studios
..                                                 ...
994  Brad Grey Pictures, Gold/Miller Productions, W...
995  Wild Bunch, SCOPE Pictures, Quat'sous Films, F...
996  WingNut Films, DreamWorks Pictures, Film4 Prod...
997          DreamWorks Animation, DreamWorks Pictures
998  Summit Entertainment, Universal Pictures, Fear...

                                  production_countries  \
0             United Kingdom, United States of America
1             United Kingdom, United States of America
2             United Kingdom, United States of America
3             United States of America, United Kingdom
4                             United States of America
..                                                 ...
994                   Canada, United States of America
995                             Belgium, France, Spain
996  United Kingdom, New Zealand, United States of ...
997                           United States of America
998                           United States of America

                       spoken_languages  \
0    English, French, Japanese, Swahili
1                               English
2                     English, Mandarin
3                      English, Spanish
4               English, Hindi, Russian
..                                  ...
994                             English
995                     French, English
996                             English
997                             English
998                             English

                                              keywords
0    rescue, mission, dream, airplane, paris, franc...
1    rescue, future, spacecraft, race against time,...
2    joker, sadism, chaos, secret identity, crime f...
3    future, society, culture clash, space travel, ...
4    new york city, superhero, shield, based on com...
..                                                 ...
994  exorcism, haunted house, parody, spoof, horror...
995  homophobia, self-discovery, coming of age, lov...
996  rape, based on novel or book, afterlife, loss ...
997  freedom, mustang, rivalry, wildlife, animal, c...
998  journalist, casino, based on novel or book, 19...

[999 rows x 16 columns]>

In [148]:
print(movies.dtypes)

id                               int64
title                           object
vote_average                   float64
vote_count                       int64
status                          object
release_date            datetime64[ns]
revenue                          int64
original_language               object
original_title                  object
overview                        object
poster_path                     object
genres                          object
production_companies            object
production_countries            object
spoken_languages                object
keywords                        object
dtype: object

In [149]:
#fill null value
fillted_movie = movies[movies['keywords'].isnull()]
fillted_movie

,id,title,vote_average,vote_count,status,release_date,revenue,original_language,original_title,overview,poster_path,genres,production_companies,production_countries,spoken_languages,keywords
872,583083,The Kissing Booth 2,7.703,4796,Released,2020-07-24,0,en,The Kissing Booth 2,"With college decisions looming, Elle juggles h...",/mb7wQv0adK3kjOUr9n93mANHhPJ.jpg,"Comedy, Romance",Komixx Entertainment,United Kingdom,English,NaN

In [150]:
keywords_list = [
    "sequel", "reference to dance dance revolution", "long distance relationship",
    "love", "kissing booth", "high school", "halloween", "halloween costume",
    "halloween dance", "ghostbusters costume", "marshmallow costume", "dancing",
    "pumpkin carving", "competition", "thanksgiving dinner", "homecoming",
    "bestfriends", "graduation", "applying for college", "numbered sequel",
    "high school senior", "second part", "male male kiss", "feeling",
    "friendship", "summer", "2010s", "spit take", "based on novel"
]

keywords_list = ", ".join(keywords_list)
keywords_list

'sequel, reference to dance dance revolution, long distance relationship, love, kissing booth, high school, halloween, halloween costume, halloween dance, ghostbusters costume, marshmallow costume, dancing, pumpkin carving, competition, thanksgiving dinner, homecoming, bestfriends, graduation, applying for college, numbered sequel, high school senior, second part, male male kiss, feeling, friendship, summer, 2010s, spit take, based on novel'

In [151]:
movies.loc[movies['id'] == 583083, 'keywords'] = keywords_list
fillted_movie

,id,title,vote_average,vote_count,status,release_date,revenue,original_language,original_title,overview,poster_path,genres,production_companies,production_countries,spoken_languages,keywords
872,583083,The Kissing Booth 2,7.703,4796,Released,2020-07-24,0,en,The Kissing Booth 2,"With college decisions looming, Elle juggles h...",/mb7wQv0adK3kjOUr9n93mANHhPJ.jpg,"Comedy, Romance",Komixx Entertainment,United Kingdom,English,NaN

In [152]:
fillted_movie2 = movies[movies['production_countries'].isnull()]
fillted_movie2

,id,title,vote_average,vote_count,status,release_date,revenue,original_language,original_title,overview,poster_path,genres,production_companies,production_countries,spoken_languages,keywords
813,27576,Salt,6.398,5109,Released,2010-07-21,293329073,en,Salt,"As a CIA officer, Evelyn Salt swore an oath to...",/ppXyhOe8UCEOrBRSYqE3SkHwrcR.jpg,"Action, Mystery, Thriller","Wintergreen Productions, Columbia Pictures, Re...",NaN,"English, Russian, Korean","race against time, cia, assassination, espiona..."

In [153]:
movies.loc[movies['id'] == 27576, 'production_countries'] = 'United States of America'
fillted_movie2

,id,title,vote_average,vote_count,status,release_date,revenue,original_language,original_title,overview,poster_path,genres,production_companies,production_countries,spoken_languages,keywords
813,27576,Salt,6.398,5109,Released,2010-07-21,293329073,en,Salt,"As a CIA officer, Evelyn Salt swore an oath to...",/ppXyhOe8UCEOrBRSYqE3SkHwrcR.jpg,"Action, Mystery, Thriller","Wintergreen Productions, Columbia Pictures, Re...",NaN,"English, Russian, Korean","race against time, cia, assassination, espiona..."

In [154]:
movies.isnull().sum()

id                      0
title                   0
vote_average            0
vote_count              0
status                  0
release_date            0
revenue                 0
original_language       0
original_title          0
overview                0
poster_path             0
genres                  0
production_companies    0
production_countries    0
spoken_languages        0
keywords                0
dtype: int64

In [155]:
movies

,id,title,vote_average,vote_count,status,release_date,revenue,original_language,original_title,overview,poster_path,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,en,Inception,"Cobb, a skilled thief who commits corporate es...",/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,en,Interstellar,The adventures of a group of explorers who mak...,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,en,The Avengers,When an unexpected enemy emerges and threatens...,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,4248,Scary Movie 2,5.783,4249,Released,2001-07-04,141220678,en,Scary Movie 2,While the original parodied slasher flicks lik...,/7Eb1JWK0Cb0rbfsYjwfc9g0PbQH.jpg,Comedy,"Brad Grey Pictures, Gold/Miller Productions, W...","Canada, United States of America",English,"exorcism, haunted house, parody, spoof, horror..."
995,152584,Blue Is the Warmest Color,7.084,4249,Released,2013-10-09,10165694,fr,La Vie d'AdÃ¨le - Chapitres 1 et 2,"AdÃ¨le's life is changed when she meets Emma, ...",/kgUk1wti2cvrptIgUz0VTAtSF6w.jpg,"Romance, Drama","Wild Bunch, SCOPE Pictures, Quat'sous Films, F...","Belgium, France, Spain","French, English","homophobia, self-discovery, coming of age, lov..."
996,7980,The Lovely Bones,7.072,4242,Released,2009-12-26,93621340,en,The Lovely Bones,"After being brutally murdered, 14-year-old Sus...",/sn0iDphRxQ7I6aLd9igIgACITak.jpg,"Fantasy, Drama","WingNut Films, DreamWorks Pictures, Film4 Prod...","United Kingdom, New Zealand, United States of ...",English,"rape, based on novel or book, afterlife, loss ..."
997,9023,Spirit: Stallion of the Cimarron,7.698,4239,Released,2002-05-24,122563539,en,Spirit: Stallion of the Cimarron,As a wild stallion travels across the frontier...,/cUgYrz4twiJ3QgVGpRfey984NIB.jpg,"Animation, Adventure, Comedy, Family, Drama","DreamWorks Animation, DreamWorks Pictures",United States of America,English,"freedom, mustang, rivalry, wildlife, animal, c..."
998,1878,Fear and Loathing in Las Vegas,7.219,4236,Released,1998-05-22,10680275,en,Fear and Loathing in Las Vegas,Raoul Duke and his attorney Dr. Gonzo drive a ...,/tisNLcMkxryU2zxhi0PiyDFqhm0.jpg,"Adventure, Drama, Comedy","Summit Entertainment, Universal Pictures, Fear...",United States of America,English,"journalist, casino, based on novel or book, 19..."

In [156]:
'''
Make combined features column
    - Convert non-string columns to string
    - Combine all string columns into one column (combined_features)
    - Add space between each column in the combined_features column
'''


movies['vote_average'] = movies['vote_average'].astype(str)
movies['release_date'] = movies['release_date'].astype(str)

movies['combined_features'] = (
            movies['genres'] + " " 
            + movies['keywords'] + " " 
            + movies['vote_average'] + " " 
            + movies['original_language'] + " "
            + movies['overview'] + " "
            + movies['release_date']
)

In [157]:
'''
Make vector tfidf: convert combined_features to vector tfidf
    - convert ENGLISH_STOP_WORDS to list (because ENGILISH_STOP_WORDS is a frozenset)
    - use TfidfVectorizer to convert combined_features to vector tfidf
'''

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS

list_stopwords = list(ENGLISH_STOP_WORDS)
tfidf = TfidfVectorizer(max_features=10000, stop_words=list_stopwords)

vector = tfidf.fit_transform(movies['combined_features'])
vector.shape

(999, 10000)

In [158]:
'''
Compute cosine_similarity
    - Use cosine_similarity to compute the cosine similarity between all movies (numpy array)
'''

from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(vector)
cosine_sim

array([[1.        , 0.04229933, 0.00611056, ..., 0.00828169, 0.01301293,
        0.00199244],
       [0.04229933, 1.        , 0.00208596, ..., 0.00914896, 0.02881509,
        0.01336857],
       [0.00611056, 0.00208596, 1.        , ..., 0.00667279, 0.00980625,
        0.0303276 ],
       ...,
       [0.00828169, 0.00914896, 0.00667279, ..., 1.        , 0.04247183,
        0.02714509],
       [0.01301293, 0.02881509, 0.00980625, ..., 0.04247183, 1.        ,
        0.04955359],
       [0.00199244, 0.01336857, 0.0303276 , ..., 0.02714509, 0.04955359,
        1.        ]], shape=(999, 999))

In [159]:
'''
Search movie index
    - Create a dictionary with the movie title as the key and the movie index as the value (O(n))
    - Create a function that searches for the movie index based on the movie title (O(1))
'''

title_index = {title.lower(): index for index, title in zip(movies.index, movies['original_title'].astype(str))}

def search_movie_index(title, title_index):
    return title_index.get(title.lower(), None)

In [160]:
def recommend_movies(title, cosine_sim, movies, title_index, num_recommend=10):
    movie_index = search_movie_index(title, title_index)
    if movie_index is None:
        return "Your movie is not in our database, we will update soon!"
    similar_index = cosine_sim[movie_index].argsort(kind='quicksort')[-(num_recommend + 1):-1][::-1]
    recommended_movies = movies.iloc[similar_index]['original_title']

    return recommended_movies

In [162]:
recommend_movies('The Dark Knight', cosine_sim, movies, title_index)

487                                Batman
25                  The Dark Knight Rises
879                        Batman Forever
41                          Batman Begins
906                   Law Abiding Citizen
366                            The Batman
912                        Batman & Robin
643                        Batman Returns
18                                  Joker
287    Sherlock Holmes: A Game of Shadows
Name: original_title, dtype: object